<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <div class="logo">
            <img src="~/img/logo.png" alt="Task Manager Logo">
            <h1>Task Manager</h1>
        </div>
        <ul>
            <li><a asp-controller="Dashboard" asp-action="Index"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
            <li><a asp-controller="Tasks" asp-action="Index"><i class="fas fa-tasks"></i>Tasks</a></li>
            <li><a href="#"><i class="far fa-calendar-alt"></i>Calendar</a></li>
            <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
            <li><a asp-action="Index" asp-controller="Home"><i class="fa-solid fa-arrow-right-from-bracket"></i>Back to home</a></li>
        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
<script src="https://kit.fontawesome.com/1f40eea681.js" crossorigin="anonymous"></script>
</html>
