@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<div class="container-dashboard">
	<div class="statistic">
		<h2>Tasks Completed for All Time</h2>
		<p>1000</p>
	</div>
	<div class="statistic">
		<h2>Most Productive Month</h2>
		<p>January 2023</p>
	</div>
	<div class="chart">
		<h2>Productivity Chart</h2>
		<!-- insert productivity chart here -->
	</div>
</div>