@model TaskManager.Models.Task
@{
    ViewData["Title"] = "Edit task";
    Layout = "_Layout";
}

<div class="add-task-container">
    <h1 class="mb-5">Edit Task</h1>
    <form class="add-task" method="POST" asp-controller="Tasks" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId"/>
        <input type="hidden" asp-for="IsCompleted"/>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" required>
        <span asp-validation-for="Title" class="text-danger"></span>

        <label asp-for="Description">Description</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

        <label asp-for="Priority">Priority</label>
        <select asp-for="Priority">
            <option value="2">Low</option>
            <option value="1">Medium</option>
            <option value="0">High</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>

        <label asp-for="EndDate">End Date</label>
        <input asp-for="EndDate" type="date">
        <span asp-validation-for="EndDate" class="text-danger"></span>

        <label asp-for="Hashtag">Hashtag</label>
        <input asp-for="Hashtag" type="text">
        <span asp-validation-for="Hashtag" class="text-danger"></span>

        <input type="submit" value="Edit Task">
    </form>
</div>
